@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
} 
.loader-container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}
.wrapper {
    margin-left: 60px;
    margin-top: 82px;
    margin-bottom: 42px;
    min-height: 100vh;
}

.fa-2x {
    font-size: 2em;
}

.fa {
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    position: relative;
}


.main-menu:hover,
nav.main-menu.expanded {
    width: 250px;
    overflow: visible;
}

.main-menu {
    background: #ffffff;
    border-right: 1px solid #e5e5e5;
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    height: calc(100wh - 64px);
    width: 60px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    z-index: 1000;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.main-menu>ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li>a {
    display: flex;
    align-items: center;
    border-collapse: collapse;
    border-spacing: 0;
    color: #808080;
    font-family: arial;
    font-size: 1rem;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    height: 50px;

}

.main-menu li i {
    width: 62px;
}

.main-menu .nav-icon {
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    /* margin-left: 40px; */
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.account {
    position: absolute;
    left: 0;
    bottom: 0;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
    background-color: #000000;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
.footer-distributed {
    background-color: rgb(17, 17, 17);
    font-family: Helvetica Now Text Medium,Helvetica,Arial,sans-serif !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px 45px 110px;
  }
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }
button:hover {
    cursor: pointer;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 1px 0 5px #ccc;
    height: 64px;
    background-color: #fff;
    z-index: 100;
}

.header a:hover {
    transform: translate(0, -2px);
    transition: 0.1s linear;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    width: 90%;
    max-width: 1200px;
    margin: auto;

}

a {
    text-decoration: none;
    color: black;
}

.header__logo {
    font-size: 2rem;
    font-weight: 700;
}

.header__logo a,
svg {
    vertical-align: middle;
    height: 100%;

}

.header__logo svg {
    width: 5rem;

}

.header-navigation {
    flex-shrink: 0;
}

.navigation--underline {
    border-bottom: 2px solid rgb(232, 90, 133);
}

.header-navigation a {
    font-weight: 500;
    vertical-align: middle;
    display: inline-block;
    margin: 0.75rem;
    padding: 0.5rem;
    text-transform: uppercase;
}

.header-navigation svg {
    width: 2rem;
    height: 2rem;
}

.header-cart {
    position: relative;
}

.header-cart__label--red {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    display: inline-block;
    font-size: 0.6rem;
    background-color: red;
    color: #fff;
    width: 0.9rem;
    height: 0.9rem;
    padding: 0.05rem;
    text-align: center;
    border-radius: 100px;
}

.product-container {
    margin: 82px auto 48px auto;
    width: 90%;
    max-width: 1132px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 2%;
}

.product-container-tittle {
    width: 100%;
    display: flex;
    flex-shrink: unset;
    margin: 24px 0px;
}

.product-container-tittle i::before {
    position: absolute;
    top: 4px;
    left: 25%;
}

.product-item {
    width: 23.5%;
    border-radius: 3px;
    box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.1);
    position: relative;
}

.product-item:hover {
    transform: translate(0, -2px);
    box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.2);
}

.product-item__image {
    position: relative;
}

.product-item__image img {
    width: 100%;
}

.product-container .btn-add-to-cart {
    border: none;
    box-shadow: 0px 9px 6px -1px #ccc;
    border-radius: 100px;
    padding: 0.25rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.product-container .btn-add-to-cart:active {
    transform: translate(0, 1px);
    box-shadow: 0 1px 3px 3px #ccc;
}

.product-container .btn-add-to-cart svg {
    width: 2rem;
    height: 2rem;
}

.product-desc {
    padding: 0 1rem;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-desc__name {
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem auto;
}

.product-desc__price,
.product-desc__quantity,
.product-desc__saleto {
    font-size: 0.85rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    margin: 0.5rem 0;
    flex-shrink: 0;
}

.product-desc__saleto {
    letter-spacing: -0.1px;
    position: absolute;
    top: 4px;
    right: 4px;
    margin-right: 8px;
    z-index: 1;
}

.cart-container {
    margin: 82px auto 48px auto;
    width: 90%;
    max-width: 1256px;

}

table {
    width: 100%;
    border-collapse: collapse;
    user-select: none;
}

.cart-table svg {
    border-radius: 50px;
}

.cart-table svg:hover {
    background-color: rgba(209, 64, 108, 0.1);
    cursor: pointer;
}

table td,
th {
    padding: 0.75rem;
}

table td {
    font-weight: 500;
}

table thead,
tbody tr {
    border-bottom: 1px solid #ccc;
}

table tbody {
    max-height: 200px;
    overflow: hidden;
}

.product-name {
    display: flex;
}

.product-name__img {
    width: 120px;
    height: 70px;
    overflow: hidden;
}

.product-name__img img {
    width: 100%;
    transform: translate(0, -29%);
}

.product-name__desc {
    flex-grow: 1;
    margin-left: 1rem;
}

.product-name__desc h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.product-name__desc span {
    display: inline-block;
    margin-top: 0.5rem;
    font-size: 0.85rem;
    font-weight: 700;
}

.quantity {
    width: 18%;
    text-align: center;
}

.subtotal,
.total,
.btn-clear-cart {
    width: 15%;
    text-align: center;
}

.btn-sub {
    margin-right: 15%;
    width: 1.2rem;
    padding: 0.25rem;
}

.btn-plus {
    margin-left: 15%;
    width: 1.2rem;
    padding: 0.25rem;

}

.total-cart {
    text-align: right;
    font-weight: 500;
}

.btn-clear-cart svg {
    width: 1.85rem;
}

.btn-back-to-shopping {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.25em 0.85rem;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 3px;
    margin-top: 1rem;
    color: rgb(41, 41, 41);
}

.btn-back-to-shopping:hover {
    background-color: rgb(219, 219, 219);
}

.btn-buy {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem 1.25rem;
    color: #fff;
    background-color: rgb(17, 17, 17);
    border: none;
    border-radius: 3px;
    float: right;
    margin-top: 1rem;

}

.btn-buy:hover {
    background-color: rgba(68, 68, 68, 0.9);
}

.btn-back-to-shopping svg {
    width: 2rem;
}

.cart-emty {
    display: none;
}

.empty .cart-emty {
    display: block;
    width: 50%;
    margin: auto;
}

.empty .cart-emty img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.empty .cart-table {
    display: none;
}

.empty .btn-buy {
    display: none;
}


.cart-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: none;
    overflow: auto ;
}

.modal-form {
    width: 750%;
    max-width: 684px;
    margin: 42px auto;
    background-color: #fff;
    border-radius: 6px;
}

.modal-head {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(232, 234, 235);
}

.modal-head h2 {
    font-size: 1.625rem;
    font-weight: 600;
}

.btn-close-modal {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    padding: 0.25rem;
    width: 2rem;
    height: 2rem;
}

.btn-close-modal:hover {
    background-color: rgba(0, 0, 0, 0.05)
}

.btn-close-modal svg {
    stroke: rgba(140, 140, 140, 1);
}

.modal-body {
    padding: 1.4rem;
    border-bottom: 1px solid rgb(232, 234, 235);

}

.modal-body h4 {
    font-weight: 500;
    padding: 0.3rem 0;
}

.modal-body input,
textarea,
select {
    font-size: 0.85rem;
    border: none;
    border-radius: 6px;
    outline: 1px solid rgb(232, 234, 235);
}

.modal-body input,
textarea {
    padding: 0.75rem;
    width: 100%;
}

.address {
    display: flex;
    justify-content: space-between;
}
.address >div{
    margin-bottom: 8px;
    width: 30%;

}

.modal-body select {
    padding: 0.5rem;
    font-weight: 500;
    width: 100%;
}

.text--red {
    color: red;
    font-size: 0.8rem;
    margin-left: 4px;
}

.modal-body input::placeholder,
textarea::placeholder,
select::placeholder {
    font-weight: 500;
}

.modal-body input:focus,
textarea:focus,
select:focus {
    outline: 1px solid rgb(96, 144, 231);
}

.full-name {
    display: flex;
    justify-content: space-between;
}

.full-name >div {
    margin-bottom: 8px;
    width: 100%;
}

.full-name input:first-child {
    margin-right: 0.5rem;
}

.modal-footer {
    padding: 0.75em;
    display: flex;
    justify-content: flex-end;
}

.modal-footer button {
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
}

.btn-cancel {
    background-color: rgb(208, 66, 73);
    margin-right: 0.4rem;
}

.btn-accept {
    background-color: rgb(14, 14, 14);
    color: #fff;
}

.bills-container {
    margin: 82px auto 48px auto;
    width: 90%;
    max-width: 1256px;
}

.bills-table {
    text-align: center;
}

.bills-table .btn-return {
    padding: 0.2rem;
    height: 1.8rem;
    width: 2rem;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0);
}

.bills-table .btn-return:hover {
    background-color: rgb(219, 219, 219);
}

.details span {
    display: block;
}

.details {
    text-align: center;
}

.btn-details {
    color: #2971F8;
    background-color: transparent;
    border: none;
    display: flex;
    margin: auto;
    padding: 0.25rem;
}

.btn-details:hover {
    background-color: #c0d6ff;
    border-radius: 6px;
}

.btn-details svg {
    width: 1rem;
    height: 1rem;
}

.detail-wrapper {
    background-color: rgb(224, 224, 224);
    border-radius: 6px;
    overflow: hidden;
    position: absolute;
    display: none;
}

.detail-bill {
    max-height: 200px;
    width: 320px;
    overflow-y: scroll;
    margin: 0 0.5rem 0.75rem 1rem;
}

.detail-bill::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.detail-bill::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

.detail-bill::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

.detail-bill::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

.detail-bill::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .9);
}

.close-detail {
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 0px 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
}
.close-detail b {
    font-size: 0.9rem;
    display: inline-block;
    padding: 0.25rem;
    margin-left: 6px;
}
.close-detail span {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.9rem;
    display: inline-block;
    padding: 0.25rem;
}

.close-detail span:hover {
    background-color: #ccc;
    cursor: pointer;
}

.detail-bill__products {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 0;
    margin-right: 0.5rem;
}

.detail-bill__img {
    width: 120px;
    height: 80px;
    overflow: hidden;
}

.detail-bill__img img {
    width: 100%;
    transform: translate(0, -29%);
}

.detail-bill__desc {
    flex-grow: 1;
    margin-left: 1rem;
    text-align: left;
}

.detail-bill__desc h3 {
    font-size: 1rem;
    font-weight: 700;
}

.detail-bill__desc span {
    display: inline-block;
    margin-top: 0.5rem;
    font-size: 0.85rem;
    font-weight: 600;
}

.empty-bill__header {
    display: none;
}

.empty-bill .empty-bill__header {
    display: block;
    text-align: center;
    font-weight: 600;
    color: rgb(41, 41, 41);
    margin: auto;
}

.empty-bill .empty-bill__header h2 {
    display: inline-block;
    padding: 3rem 1rem 1rem 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(44, 44, 44);
    box-shadow: 1px 0px 3px 3px rgba(255, 255, 255, 0.4);
}

.empty-bill table {
    display: none;
}

.hide {
    display: none;
}

.active {
    display: block;
}

.cart-active {
    stroke: rgb(248, 0, 74);
}

.old-price {
    text-decoration: line-through;
}

.selected-product-wrapper {
    max-width: 80%;
    margin: auto;
    display: flex;
}
.selected-image {
    width: 50%;
    min-width: 400px;
    max-width: 500px;
    position: relative;
}

.selected-image img {
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}

.selected-presentation {
    margin-top: 3%;
    margin-left: 2%;
    padding: 8px 16px;
    border-radius: 50px;
    position: absolute;
    background-color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, 0.1);

}

.selected-presentation i {
    display: inline-block;

}

.selected-desc {
    position: relative;
    min-width: 400px;
    max-width: 450px;
    margin-left: 6%;
    font-family: 'Helvetica Now Text Medium', Helvetica, Arial, sans-serif;
    padding: 4px 48px 0 24px;
}

.selected-name {
    font-size: 2rem;
    margin: 4px 0;
}

.selected-origin {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 32px;
}

.selected-price {
    font-size: 2rem;
}

.selected-price .old-price {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.3rem;
    vertical-align: middle;
    margin-right: 16px;
}
.selected-desc-text{
    margin-bottom: 42px;
    font-weight: 500;

}
.selected-change-quantity{
    margin-bottom: 24px;
}
.selected-change-quantity .label-quantity{
    margin-right: 1.5rem;
}
.selected-change-quantity .btn-sub,
.selected-change-quantity .btn-plus {
    color: #fff;
    stroke-width: 4;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 100%;
    width: 28px;
    padding:8px;
}
.btn{
    box-shadow:2px 2px 4px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.btn:active{
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);

}
.selected-change-quantity .quantity__center{
    font-size: 1.5rem;
    font-weight: 500;
}
.selected-desc .btn-add-to-cart{
    width: 100%;
    padding: 18px 24px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 40px;
}
.selected-rate{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 24px;
}
.selected-rate span{
    margin-right: 34px;
    float: right;
}
.selected-quantity{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: right;
    margin-bottom: 24px;
}
.selected-number{
    align-items: baseline;
    margin-bottom: 24px;
}
.selected-total-price{
    display: block;
    font-size: 1.4rem;
    padding: 24px 8px;
    border-top:1px solid rgba(0,0,0,0.8) ;
    text-align: right;
    margin-bottom: 12px;
}
.sold-out{
    position: absolute;
    z-index: 10;
}
.login-modal-container, .register-modal-container ,.repassword-modal-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    overflow: auto ;
}

.login-head {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(232, 234, 235);
}
.login-form{
    width: 400px;
    background-color: rgba(173,173,173, 1);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 0;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 30px 35px;
    animation: slideIn 0.5s forwards;
}
@keyframes slideIn {
    to {
      top: 50%;
    }
  }
.login-form *{
    font-family: 'Poppins',sans-serif;
    color: #000000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.login-form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.login-form label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.login-form input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.login-form ::placeholder{
    color: #333333;
}
.btn-login{
    margin-top: 2rem;
    width: 100%;
    background-color: #000000;
    color: #cccccc;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.login-footer{
    margin-top: 2rem;
}
.login-register{
    float :right;
    font-size: 0.8rem ;
    font-weight: 300;
    cursor: pointer;
}
.login-register:hover{
    text-decoration: underline;
}
.login-form .btn-close-modal{
    position: absolute;
    top: 0;
    right: 0;
    color: #000000;
}
.login-form .btn-close-modal:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.login-form .btn-close-modal svg {
    stroke: rgb(245, 244, 244);
}
.login-form .login-error{
    color: #000000;
    font-size: 0.8rem;
    letter-spacing: 0.2px;
    margin-top: 1rem;
}

.register-form{
    width: 600px;
    background-color: rgba(173,173,173, 1);
    position: absolute;
    transform: translate(-50%,-30%);
    top: 0;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 30px 35px;
    animation: slideIn 0.5s forwards;
}
.register-form *{
    font-family: 'Poppins',sans-serif;
    color: #000000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    font-size: 0.8rem;
}
.register-form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.register-form label{
    display: block;
    font-weight: 500;
    margin-top: 1rem;
}
.register-form input{
    display: block;
    height: 2.5rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.register-form ::placeholder{
    color: #333333;
}
.btn-register{
    margin-top: 2rem;
    width: 100%;
    background-color: #000000;
    color: #cccccc;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.register-footer{
    margin-top: 2rem;
}
.register-login{
    float :right;
    font-size: 0.8rem ;
    font-weight: 300;
    cursor: pointer;
}
.register-login:hover{
    text-decoration: underline;
}
.register-form .btn-close-modal{
    position: absolute;
    top: 0;
    right: 0;
    color: #000000;
}
.register-form .btn-close-modal:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.register-form .btn-close-modal svg {
    stroke: rgb(245, 244, 244);
}
.register-form .register-error{
    color: #000000;
    font-size: 0.8rem;
    letter-spacing: 0.2px;
    margin-top: 1rem;
}
.register-form .address >div{
    margin-bottom: 8px;
    width: unset;
}
.register-form .text--red{
    margin: unset;
}
.register-form span{
    color: #ff0000;
}
.register-form select{
    height: 30px;
    background-color: rgba(255, 255, 255, 0.6);
}
.register-form .address{
    margin-top: 8px;
}
.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar input:focus,
.search-bar input:valid  {
	width: 300px;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	padding: auto;
	justify-content: center;
    
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
    border:#000000;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #000000;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #494949;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
	body, input {
		color: #f1f1f1;
	}
	body {
		background: #171717;
	}
	.search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	.search-bar input:focus,
	.search-bar input:valid {
		background: #3d3d3d;
		box-shadow: 0 0 0 0.1em #3d3d3d inset;
	}
	.search-btn {
		background: #f1f1f1;
	}
}
#selected-size{
    width: 70px;
    padding: 5px;
    text-align: center;
}
#search-wrapper{
    margin: 82px auto 48px auto;
    width: 90%;
    max-width: 1132px;
}
.render-search{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 2%;
}
.size-render{
    display: flex;
    justify-content: space-between;
}
.repassword-modal-container .text--red{
    margin-left: 0;
}